page-login {

  .enter-btn{
    border-radius: 3%; 
    color:#f7e706;
    box-shadow: inset 0 0 1em gold; 
    background-color: #dc143c !important;
  }

  .account-btn{
    border-radius: 3%; 
    color: #dc143c;
    box-shadow: inset 0 0 1em #dc143c;
    background-color:#f7e706 !important;
  }

  .bg-login {
    background: url("../assets/img/banner.jpg") no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;

      .auth-content {
        display:block;
        width: 90%;
        height: 950%;
        margin: 30px auto;
        align-items: center;
        justify-content: center;
        min-width: 80%;

        .btn-dado {
          background: color($colors, dado);
          border-radius: 45%;
        }
      
        .light-bg {
          // keep only bottom border
          .item-input {
            margin: 0;
            padding-left: 0;
            border: none;
            border-bottom: 1px solid #DDD;

            .item-inner {
              border: none;
            }
          }
        }
      }
    }
}
